body {
  margin: 0;
  padding: 0;

  font-family: $main-font, $type-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $text-color;
  background-color: $primary-color;
  // background-color: #a95094;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.callback-btn {
  padding: 18px 40px;

  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: $orange-text;

  background-color: transparent;
  border: 2px solid $orange-text;
  border-radius: 15px;
  cursor: pointer;

  transition: 0.5s ease;

  &:hover {
    border-color: $primary-color;
    color: $primary-color;
  }
}

.title {
  margin: 0;

  font-weight: 600;
  font-size: 38px;
  line-height: 36px;

  color: $primary-color;
}
