$main-font: "TT Norms";
$type-font: sans-serif;

$primary-color: #ffffff;
$secondary-color: linear-gradient(0deg, #fafafa, #fafafa), #fae6f5;
$text-color: #000000;

$orange-text: #ffc464;
$grey: #fafafa;

$background: #a95094;

// $section-margin-bottom: 80px;

// $mobile-width-only: 779px;
$tablet-width: 780px;
$desktop-width: 1440px;
